a {
    text-decoration: none;
    color: rgb(80, 79, 79);
}

body {
    font-size: 16px;
    background-image: linear-gradient(to bottom, #e7eeee, #e3e9e9, #dfe4e4, #dcdfdf, #d8dada);
    min-height: 100vh;
    color: rgb(80, 79, 79);
}

header {
    font-size: 1.2rem;
    align-items: center;
}

header>:nth-child(1) {
    font-size: 2rem;
}

header>:nth-child(2) {
    font-size: 2rem;
    margin-right: auto;
}

.history {
    text-align: justify;
}

.container {
    min-height: 100vh;
}

footer {
    text-align: center; 
}